body {
    background-color: #f8f9fa; 
    color: #000000;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 20px; /* Add border radius */
    background-color: #e5eafc;
}

.form-group {
    margin-bottom: 20px;
}


.btn-primary {
    background-color: rgb(36, 80, 255);
    border-color: transparent;
    transition: all 0.7s;
}


.btn-primary:hover {
    background-color: rgba(36, 80, 255, 0.162);
    color: rgb(36, 80, 255);
    border: 1px solid rgb(36, 80, 255);
}

input {
    height: 45px !important;
}

@media (max-width:768px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 30px;
        border: 1px solid transparent;
        border-radius: 20px; /* Add border radius */
        background-color: #fff;
    }

    ::placeholder {
        color: #00000090;
    }
}