<footer class="container-fluid pb-5 pl-md-5 mt-5">
    <div class="row text-dark px-5 pt-5">
        <div class="col-12 col-lg-6 col-xl-3">
            <h5>About Us</h5>
            <p>Lorem ipsum dolor sit amet consectetur<br>adipisicing elit. Maiores ipsa
                ducimus<br>aliquid,official pariatur vitae perferendis <br>cumque, dolorem!</p>
        </div>
        <div class="col-12 col2 col-lg-6 mt-3 mt-md-0 col-xl-3">
            <h5>Contact Us</h5>
            <span>Address:</span><br>
            No-27-283127 street loream,<br>Newyork City,USA<br>
            <span>Phone:+(8277)627464</span><br>
            <span>Email:</span><br>
            info&commat;emaple.com<br>
            <span>Fax:717(76)7723</span>
        </div>
        <div class="col-12 col-lg-6 col-xl-3 d-none d-sm-block">
            <h5>Recent Posts</h5>
            <table>
                <tr>
                    <td class="p-1"><img src="assets/images/company4.jpg" alt="company1"></td>
                    <td class="p-1"><img src="assets/images/company1.jpg" alt="company2"></td>
                    <td class="p-1"><img src="assets/images/company6.jpeg" alt="company3"></td>
                </tr>
                <tr>
                    <td class="p-1"><img src="assets/images/company5.jpeg" alt="company4"></td>
                    <td class="p-1"><img src="assets/images/company1.jpg" alt="company5"></td>
                    <td class="p-1"><img src="assets/images/compant2.jpg" alt="company6"></td>
                </tr>
                <tr>
                    <td class="p-1"><img src="assets/images/company9.jpg" alt="company7"></td>
                    <td class="p-1"><img src="assets/images/company8.webp" alt="company8"></td>
                    <td class="p-1"><img src="assets/images/company7.jpg" alt="company9"></td>
                </tr>
            </table>
        </div>
        <div class="col-12 col4 col-lg-6 col-xl-3 mt-3 mt-md-0">
            <h5>Subscribe</h5>
            <p>commodi. Commodi quae deserunt<br>dignissimos.</p> <br>
            <form>
                <input type="text" placeholder="Youe email...">
                <button><i class="fa-regular fa-envelope"></i></button>
            </form>
        </div>
    </div>
</footer>
<div class="container-fluid f-bottom ">
    <div class="row text-dark d-flex flex-wrap align-items-center flex-sm-row py-3 py-lg-4">
        <div class="col-lg-6 col-12 copy text-lg-start text-center">
            <p class="m-0">© 2024 Learn All.All Rights Reserved|Design by <br class="d-block d-sm-none"><span>Rajendra Oad</span></p>
        </div>
        <div class="col-lg-6 col-12 follow text-lg-end text-center mt-3 mt-md-0 pb-3 pb-md-0">
            <span>Follow us on:</span>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-google-plus-g"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </div>
</div>