<footer class="">
    <div class="container-fluid f-top px-5">
        <div class="row text-light pt-3 ps-2">
            <div class="col-lg-6 col-12 top-companies text-center d-flex align-content-center justify-content-center justify-content-lg-start mb-5 mb-lg-0">
                <p>Top companies choose Learnall Business to build in-demand career skills.</p>
            </div>
            <div class="col-lg-6 col-12 d-flex align-content-center justify-content-lg-end justify-content-center brand-icons">
                <i class="fa-brands fa-wix me-5"></i>
                <i class="fa-brands fa-stack-overflow me-5"></i>
                <i class="fa-brands fa-apple me-5"></i>
                <i class="fa-brands fa-wordpress me-5"></i>
                <i class="fa-brands fa-github"></i>
            </div>
        </div>
    </div>
    <hr style="color: gray;" />
    <div class="container-fluid">
        <div class="row text-dark px-5 pt-lg-5 d-flex flex-column-reverse flex-md-row">
            <div class="col-12 col-lg-6 col-xl-2">
                <div class="links d-flex flex-column">
                    <a href="#">Learnall Business</a>
                    <a href="#">Tech on Learnall</a>
                    <a href="#">Get the App</a>
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
            <div class="col-12 col2 col-lg-6 mt-3 mt-md-0 col-xl-2">
                <div class="links d-flex flex-column">
                    <a href="#">Careers</a>
                    <a href="#">Blogs</a>
                    <a href="#">Help and Supports</a>
                    <a href="#">Affiliate</a>
                    <a href="#">Investor</a>
                </div>
            </div>
            <div class="col-12 col4 col-lg-6 col-xl-3 mt-3 mt-md-0">
                <div class="links d-flex flex-column">
                    <a href="#">Terms</a>
                    <a href="#">Privacy policy</a>
                    <a href="#">Cookie settings</a>
                    <a href="#">Sitemap</a>
                    <a href="#">Accessibility statement</a>
                </div>
            </div>
            <div class="col-12 col4 col-lg-6 col-xl-5 mt-3 mt-md-0 d-flex justify-content-md-end">
                <form>
                    <div class="rounded bg text-dark d-flex justify-content-between">
                        <button class="btn btn-light text-dark px-3" type="button" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fas fa-globe me-2"></i> English</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>
<div class="container-fluid f-bottom pt-5">
    <div class="row text-light d-flex flex-wrap align-items-center flex-sm-row py-3 py-lg-4">
        <div class="col-lg-6 col-12 copy text-lg-start text-center">
            <p class="m-0">© 2024 Learn All.All Rights Reserved|Design by <br class="d-block d-sm-none"><span class="text-secondary">Rajendra Oad</span></p>
        </div>
        <div class="col-lg-6 col-12 follow text-lg-end text-center mt-3 mt-md-0 pb-3 pb-md-0">
            <span class="me-2">Follow us on:</span>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-google-plus-g"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h6 class="modal-title">Choose your language</h6>
          <button type="button" class="btn-close1" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 column" style="border: 1px solid #000;">
                <span class="d-block fw-bold">English</span>
                <span style="font-size: 12px;" class="text-secondary">English</span>
            </div>
            <div class="col-md-12 column">
                <span class="d-block fw-bold">हिन्दी</span>
                <span style="font-size: 12px;" class="text-secondary">Hindi</span>
            </div>
            <div class="col-md-12 column">
                <span class="d-block fw-bolder">中文</span>
                <span style="font-size: 12px;" class="text-secondary">Chinese</span>
            </div>
            <div class="col-md-12 column">
                <span class="d-block fw-bold">తెలుగు</span>
                <span style="font-size: 12px;" class="text-secondary">Telugu</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>