/* Styles for footer section */
footer {
    background-color: #2D2F31;
    color: #000000 !important;
}

footer a {
    text-decoration: none;
    font-size: 13.5px;
    line-height: 30px;
    color: #ffffff;
}

footer a:hover{
    text-decoration: underline;
}

footer .col2 span {
    line-height: 30px;
    color: rgb(36, 80, 255);
}

.f-bottom {
    background-color: #2D2F31;
    color: #ffffff;
}

.f-bottom .copy span {
    color: rgb(36, 80, 255);
}

.f-bottom .follow>i {
    margin: 5px !important;
}

.f-bottom .row .col p {
    margin-bottom: 0 !important;
}

.container-fluid.f-bottom {
    padding: 0 55px;
}

.f-top .top-companies p {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

.f-top .top-companies p{
    color: #cbcef8;
}

.f-top .brand-icons i {
    font-size: 40px;
}

table {
    width: 100%;
}

#myModal .modal-dialog {
    max-width: 500px; /* Adjust the width as per your requirement */
}

#myModal button.btn-close1 {
    background-color: #000000;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: none;
}

#myModal .modal-body .row .column {
    background-color: #fff ;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    border: 1px solid transparent;
    transition: all 0.2s;
}

#myModal .modal-body .row .column:hover{
    background-color: rgba(128, 128, 128, 0.21) ;
}

#myModal .modal-body {
    padding: 30px 35px;
}




