<app-header></app-header>

<section class="table-details pt-5 pb-5 overflow-hidden">
  <div class="container">
    <div class="animation-rec">
      <span class="outside-rec">
        <span class="inside-rec"></span>
      </span>
    </div>
    <div class="animation-rec-1">
      <span></span>
    </div>
    <div class="text-center">
      <h1 class="fw-light fs-1">Discover Essential <br class="d-xl-block d-none">Web Development Courses</h1>
      <p class="mt-4 px-3">Explore web development courses covering frontend and backend technologies. <br
          class="d-xl-block d-none"> Taught by experts,
        gain skills for a successful career</p>
      <div class="mini-cards my-4 ">
        <button class="btn-1 border-0 rounded px-3 py-1 me-3"> <i class="fa-brands fa-html5 me-2"></i>HTML</button>
        <button class="btn-1 border-0 rounded px-3 py-1 me-3"><i class="fa-brands fa-css3-alt me-2"></i>CSS</button>
        <button class="btn-1 border-0 rounded px-3 py-1 me-3"><i class="fa-brands fa-js me-2"></i>JavaScript</button>

        <button class="btn-1 border-0 rounded px-3 py-1 me-3"><i class="fa-brands fa-bootstrap me-2"></i>Bootrap</button>
        <button class="btn-1 border-0 rounded px-3 py-1 me-3"><i class="fa-brands fa-angular me-2"></i>Angular</button>
        <button class="btn-1 border-0 rounded px-3 py-1 me-3"><i class="fa-brands fa-react me-2"></i>React</button>
      </div>
      <div class="mini-start-btn my-5">
        <button class="btn border-1 rounded-pill bg-light" routerLink="/services" routerLinkActive="active">
          <a class="text-decoration-none text-dark ps-4 pe-2"><span class="fs-5">Get Started <span class="arrow-come"><i
                  class="fa-solid fa-arrow-right"></i></span></span></a>
        </button>
      </div>
    </div>
    <div class="table-img d-flex justify-content-center">
      <img src="assets/images/banner.png" alt="" style="width: 100%; margin-right: 50px;">
    </div>
  </div>
</section>


<section class="course-details">
  <div class="container">
    <div class="row">
      <div class="col-6 text-center">
        <h2>courses list about the cards</h2>
      </div>
      <div class="col-6">
        <img src="assets/images/courseList.png" alt="" style="width: 100%;">
      </div>
    </div>
  </div>
</section>

<section class="video-container py-5" style="background: #000;">
  <div class="container py-5">
    <div class="table-details text-center">
      <h1 class="fw-light text-light fs-1 ">Crafting the Digital Experience<br class="d-xl-block d-none"> - <blockquote
          class="d-inline">
          "Web Development's Artistry"</blockquote>
      </h1>
      <p class="mt-4 px-3 text-light">Web development creates websites and applications using programming, <br
          class="d-xl-block d-none">design, and project management skills for businesses and user needs </p>
      <div class="mini-start-btn my-5">
        <button class="btn border-1 rounded-pill bg-light" routerLink="/services" routerLinkActive="active">
          <a class="text-decoration-none text-dark px-2"><span class="fs-5">Get Started</span></a>
        </button>
      </div>
    </div>
    <div class="video-container-fluid d-flex ">
      <video class="w-75 rounded-4 mx-auto" controls style="outline: none;border: 3px solid #000;">
        <source src="assets/images/info-video-web.mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</section>
<!-- side design items of first image with cards -->

<section class="course-details">
  <div class="container">
    <div class="row">
      <div class="col-6 text-center">
        <h2>courses list about the cards</h2>
      </div>
      <div class="col-6">
        <img src="assets/images/courseList.png" alt="" style="width: 100%;">
      </div>
    </div>
  </div>
</section>


<section class="course-details-1 py-5" style="background: #000;">
  <div class="container py-5">
    <div class="table-details text-center">
      <h1 class="fw-light text-light fs-1 ">Transform Your Online Presence with <br class="d-xl-block d-none"> Our Web
        Development Course</h1>
      <p class="mt-4 px-3 text-light">Explore web development courses covering frontend and backend <br
          class="d-xl-block d-none">technologies. Taught by experts,
        gain skills for a successful career</p>
      <div class="mini-start-btn my-5">
        <button class="btn border-1 rounded-pill bg-light" routerLink="/services" routerLinkActive="active">
          <a class="text-decoration-none text-dark px-2"><span class="fs-5">Get Started</span></a>
        </button>
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide rounded" data-bs-ride="carousel">
      <div class="carousel-inner w-75 mx-auto rounded">
        <div class="carousel-item active rounded">
          <img src="assets/images/banner-6.jpg" class="d-block w-100 rounded mb-2" alt="...">
          <p><a href="#" class="text-light">JavaScript &#x2192;</a></p>
        </div>
        <div class="carousel-item rounded">
          <img src="assets/images/banner-1.jpg" class="d-block w-100 rounded mb-2" alt="...">
          <p><a href="#" class="text-light">HTML &#x2192;</a></p>
        </div>
        <div class="carousel-item rounded">
          <img src="assets/images/banner-2.jpg" class="d-block w-100 rounded mb-2" alt="...">
          <p><a href="#" class="text-light">CSS &#x2192;</a></p>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span aria-hidden="true" class="fs-4 text-light"><i class="fa-solid fa-arrow-left-long"></i></span>
        <!-- <span class="visually-hidden">Previous</span> -->
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span aria-hidden="true" class="fs-4 text-light"><i class="fa-solid fa-arrow-right-long"></i></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section class="quote text-center py-5 ">
  <div class="container">
    <div class="qoute-text py-5">
      <h1 class="fw-normal mb-5">Believe you can and you're halfway there</h1>
      <button class="btn btn-dark text-light rounded-pill fs-5 px-3">Get Started</button>
    </div>
  </div>
</section>

<app-footer></app-footer>