<app-header></app-header>

<section class="table-details pt-5 pb-5 overflow-hidden">
  <div class="container">
    <div class="animation-rec">
      <span class="outside-rec">
        <span class="inside-rec"></span>
      </span>
    </div>
    <div class="animation-rec-1">
      <span></span>
    </div>
    <div class="text-center">
      <h1 class="fw-light fs-md-1">Discover Essential <br class="d-xl-block d-none">Web Development Courses</h1>
      <p class="mt-4 px-3">Explore web development courses covering frontend and backend technologies. <br
          class="d-xl-block d-none"> Taught by experts,
        gain skills for a successful career</p>
      <div class="mini-cards my-4 ">
        <button class="btn-1 border-0 rounded px-3 py-1 me-3 mb-lg-0 mb-4"> <i
            class="fa-brands fa-html5 me-2"></i>HTML</button>
        <button class="btn-1 border-0 rounded px-3 py-1 me-3"><i class="fa-brands fa-css3-alt me-2"></i>CSS</button>
        <button class="btn-1 border-0 rounded px-3 py-1 me-3 me-3 mb-lg-0 mb-4"><i
            class="fa-brands fa-js me-2"></i>JavaScript</button>

        <button class="btn-1 border-0 rounded px-3 py-1 me-3"><i
            class="fa-brands fa-bootstrap me-2"></i>Bootrap</button>
        <button class="btn-1 border-0 rounded px-3 py-1 me-3"><i class="fa-brands fa-angular me-2"></i>Angular</button>
        <button class="btn-1 border-0 rounded px-3 py-1 me-3"><i class="fa-brands fa-react me-2"></i>React</button>
      </div>
      <div class="mini-start-btn my-5">
        <button class="btn border-1 rounded-pill bg-light" routerLink="/services" routerLinkActive="active">
          <a class="text-decoration-none text-dark ps-4 pe-2"><span class="fs-5">Get Started <span class="arrow-come"><i
                  class="fa-solid fa-arrow-right"></i></span></span></a>
        </button>
      </div>
    </div>
    <div class="table-img d-flex justify-content-center">
      <img src="assets/images/banner.png" alt="" style="width: 100%; margin-right: 50px;">
    </div>
  </div>
</section>



<!-- <section class="course-details">
  <div class="container">
    <div class="row">
      <div class="col-6 text-center">
        <h2>courses list about the cards</h2>
      </div>
      <div class="col-6">
        <img src="assets/images/courseList.png" alt="" style="width: 100%;">
      </div>
    </div>
  </div>
</section> -->


<!-- side design items of first image with cards -->
<section class="course-details">
  <div class="course-details-container">
    <div class="container">
      <div class="row">
        <div class="col-4 bg-light rounded-4 border py-5 mt-3 mb-4 text-dark text-center table-details">
          <div class="container">
            <h1 class="fw-light text-start">Courses list about the cards</h1>
            <p class="text-start pe-5 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius itaque facilis, nisi asperiores nobis molestias at cumque quaerat libero sapiente, repellat, provident neque ex architecto sint velit distinctio. Amet, blanditiis.</p><p class="text-start pe-5 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi blanditiis quia ducimus dicta est, cum alias.</p>
            <button class="btn btn-outline-dark rounded-pill mt-5 px-4 py-2 d-flex justify-content-start">Get Started </button>
          </div>
        </div>
        <div class="col-8">
          <img src="assets/images/courseList.png" alt="" style="width: 100%;">
        </div>
      </div>
    </div>
  </div>
</section>



<section class="video-container py-5" style="background: #000;">
  <div class="container py-5">
    <div class="table-details text-center">
      <h1 class="fw-light text-light fs-1 ">Crafting the Digital Experience<br class="d-xl-block d-none"> - <blockquote
          class="d-inline">
          "Web Development's Artistry"</blockquote>
      </h1>
      <p class="mt-4 px-3 text-light">Web development creates websites and applications using programming, <br
          class="d-xl-block d-none">design, and project management skills for businesses and user needs </p>
      <div class="mini-start my-5">
        <button class="btn btn-light rounded-pill px-5 py-3 m-0" routerLink="/services" routerLinkActive="active">Get Started
        </button>
      </div>
    </div>
    <div class="video-container-fluid d-flex ">
      <video class="w-75 rounded-4 mx-auto" autoplay loop muted controls style="outline: none;border: 3px solid #000;">
        <source src="assets/images/info-video-web.mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</section>


<section class="course-details-1 py-5" style="background: #F3EFE5;">
  <div class="container py-5">
    <div class="table-details text-center">
      <h1 class="fw-light text-dark fs-1 ">Transform Your Online Presence with <br class="d-xl-block d-none"> Our Web
        Development Course</h1>
      <p class="mt-4 px-3 text-dark">Explore web development courses covering frontend and backend <br
          class="d-xl-block d-none">technologies. Taught by experts,
        gain skills for a successful career</p>
      <div class="mini-start my-5">
        <button class="btn btn-outline-dark rounded-pill px-5 py-3 m-0" routerLink="/services" routerLinkActive="active">Get Started
        </button>
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide rounded" data-bs-ride="carousel">
      <div class="carousel-inner w-75 mx-auto rounded">
        <div class="carousel-item active rounded">
          <img src="assets/images/banner-6.jpg" class="d-block w-100 rounded mb-2" alt="...">
          <p><a href="#" class="text-dark">JavaScript &#x2192;</a></p>
        </div>
        <div class="carousel-item rounded">
          <img src="assets/images/banner-1.jpg" class="d-block w-100 rounded mb-2" alt="...">
          <p><a href="#" class="text-dark">HTML &#x2192;</a></p>
        </div>
        <div class="carousel-item rounded">
          <img src="assets/images/banner-2.jpg" class="d-block w-100 rounded mb-2" alt="...">
          <p><a href="#" class="text-dark">CSS &#x2192;</a></p>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span aria-hidden="true" class="fs-4 text-dark"><i class="fa-solid fa-arrow-left-long"></i></span>
        <!-- <span class="visually-hidden">Previous</span> -->
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span aria-hidden="true" class="fs-4 text-dark"><i class="fa-solid fa-arrow-right-long"></i></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>



<section class="phone-view" style="background-color: #010001;">
  <div class="container pt-4">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="container">
          <video autoplay loop controls muted class="w-75 rounded-4 mx-auto" style="outline: none;border: 3px solid #000;"
            style="border-right: 1p solid #fff;">
            <source src="assets/images/phone-view.mp4" type="video/mp4">
            your browser does not support the video player.
          </video>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="container d-flex flex-column align-items-center mt-5">
          <div class="my-5 text-light">
            <h1 class="fs-1 fw-light">Manager the your Courses in mobile like a Pro</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis accusamus tempore neque consequuntur
              dolorem velit id.</p>
            <button type="button" class="btn btn-outline-light rounded-pill px-4 py-2">Get Started</button>
          </div>
          <div class="my-5 text-light">
            <h1 class="fs-1 fw-light">Mastering Mobile Course Management: Pro Tips</h1>
            <p class="pe-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis accusamus tempore neque consequuntur
              dolorem velit id.</p>
            <button type="button" class="btn btn-outline-light rounded-pill px-4 py-2">Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="py-5 query-about-us" style="background: #161622;">
  <div class="container py-md-5 mt-4">
    <div class="query-details text-center">
      <h1 class="fw-light text-light fs-1 ">Discover What People Are Saying About <br
          class="d-xl-block d-none">LearnAll's Web Design and Courses
      </h1>
      <p class="mt-4 px-3 text-light">Explore LearnAll's acclaimed web courses.<br class="d-xl-block d-none"> See what
        students say about their transformative experiences. </p>
      <div class="testimonials-container my-5 d-lg-flex align-items-center justify-content-center flex-nowrap">
        <ng-container *ngFor="let user of testimonials">

          <div class="card container py-3 px-0 mx-md-2 text-light text-start mb-3 mb-md-0 w-75 w-md-100">
            <div class="container">
              <div class="row px-3">
                <div class="col-3"><img src="assets/images/{{user.img}}" alt="" style="width: 50px;border-radius: 50%;">
                </div>
                <div class="col-9">{{user.name}} <p class="opacity-75"> {{user.role}}</p>
                </div>
              </div>
            </div>
            <div class="card-body ps-4">
              <p class="card-text opacity-75">{{user.comment}}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

  </div>
</section>

<section class="quote text-center py-5 ">
  <div class="container">
    <div class="qoute-text py-5">
      <h1 class="fw-normal mb-5">Believe you can and you're halfway there</h1>
      <button class="btn btn-dark text-light rounded-pill fs-5 px-3">Get Started</button>
    </div>
  </div>
</section>

<app-footer></app-footer>