<app-header></app-header>
<h3 style="text-align: center;margin:80px 0 0 0;">About Us</h3>
<div class="container mt-5">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb ms-auto d-flex justify-content-lg-end px-3">
          <li class="breadcrumb-item"><a href routerLink="/home" routerLinkActive="active">Home</a></li>
          <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
      </nav>
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="card shadow">
                <div class="card-body pt-4">
                    <p style="font-weight: 600;color: rgb(36, 80, 255);">How it Start</p>
                    <h2 style="font-weight: bold;font-size: 40px;" class="pe-5">Our Dream is Global Learing
                        Transformation</h2>
                    <div class="text-content pt-5 mt-5 pe-4 p-xxl-3">
                        <p class="mt-xl-2 mt-xxl-2 mt-2 d-none d-md-block d-lg-block">Lorem, ipsum dolor sit amet
                            consectetur adipisicing elit. Tempore accusantium illum esse numquam quas delectus explicabo
                            quisquam blanditiis, saepe voluptate molestiae quos reiciendis natus ipsum amet odit quasi
                            eius quaerat?</p>
                        <p class="d-block d-md-none d-lg-none d-xl-block pt-lg-3 pt-0 pt-xxl-0 d-xxl-block">Lorem ipsum
                            dolor sit amet consectetur adipisicing elit. <span class="d-xl-none d-xxl-block">Laboriosam,
                                iure. Quas,accusantium! Distinctio rerum neque inventore obcaecati magnam veniam
                                voluptates provident consequuntur exercitationem! Atque similique quo natus delectus
                                minima voluptatum Lorem ipsum dolor sit amet consectetur adipisicing elit.Omnis vitae
                                eveniet maxime.</span>Labore sit fuga officia incidunt quas. Vero quis odit, eos enim
                            laboriosam quia harum deserunt expedita nulla sunt?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 img">
            <div class="row d-flex flex-column justify-content-start">
                <div class="col-12">
                    <div class="card1 mt-5 mt-lg-0 p-0">
                        <div class="card-body1">
                            <img src="https://images.pexels.com/photos/926390/pexels-photo-926390.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-926390.jpg&fm=jpg"
                                alt="business-img" style="border-radius: 20px;" class="shadow">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="card rounded shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="card bg-light">
                                        <div class="card-body head-rate mx-auto">
                                            <span>3.5</span>
                                            <p>Year Experience</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card bg-light">
                                        <div class="card-body head-rate">
                                            <span>100K</span>
                                            <p>Trusted to Users</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card bg-light">
                                        <div class="card-body head-rate">
                                            <span>23</span>
                                            <p>Project Challenge</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="quote text-center py-5 mt-5" style="background: #FFDC70;">
    <div class="container-fluid">
        <div class="qoute-text py-5">
            <h1 class="fw-normal mb-5">Seamlessly enroll in web courses with a single click today</h1>
            <button class="btn btn-dark text-light rounded-pill fs-5 px-3">Get Started</button>
        </div>
    </div>
</section>


<app-footer></app-footer>